---
import { PostIndexComponent, type PostInformation } from "@/components/rpg/postIndex/postIndex.component";
import {getEntry, render} from "astro:content";
import StellarboreaLayout from "../../../layouts/rpg/StellarboreaLayout.astro";
import { Image } from 'astro:assets';
import Tabs from "../../../components/Tabs.astro";
import TabItem from "../../../components/TabItem.astro";
import ShopList from "../../../components/rpg/ShopList.astro";
import ImgMessaggeri from '@/assets/img/rpg/soli/messaggeri.webp';

const url = Astro.url.pathname;
const title = "Soli Gemelli - La Terra Libera";
const description = "Campagna casalinga di Soli Gemelli";
const permalink = `${Astro.site.href}${url}`;

const { Content: IntroContent} = await getEntry("rpg-free-text-frags", "stellarborea-intro").then(render);

const currentShabakuShop = await getEntry("rpg-free-shop", "shabaku-current");
const currentSmithShop = await getEntry("rpg-free-shop", "smith-current");
const currentMageShop = await getEntry("rpg-free-shop", "mage-current");

---

<StellarboreaLayout title={title} description={description} permalink={permalink} section="La Terra Libera">
    <h1>Stellarborea</h1>

    <IntroContent />

    <Tabs>
        <TabItem title="Giardino degli Echi" tabInnerShadow={true}>
            <p><em>
                Un giardino pavimentato di pietra bianca, dove passano numerosi echi di visitatori passati e futuri.
                Alcune di queste apparizioni quasi spettrali sono più definite, e sembrano in grado di interagire con voi...
            </em></p>

            <hr>

            <h3>Visitatori</h3>

            <h4>Sha'baku del Runedan</h4>

            <p><em>
                Un ricercatore e commerciante di oggetti magici e informazioni, accompagnato sempre
                dal suo fedele grifone, che ha una bisaccia particolare...
            </em></p>

            Venditore di oggetti magici (no armi).

            <ShopList shopData={currentShabakuShop} />
        </TabItem>
        <TabItem title="Biblioteca Astrale" tabInnerShadow={true}>
            <p><em>
                Entrate nelle stanze di quella che sembra una piccola biblioteca,
                con accoglienti poltrone e divanetti per lettura, quando un davanzale si pone
                su un'abisso, contenente infinite distese di librerie incomporensibili.
            </em></p>

            <p>
                La Biblioteca esisteva in altre forme anche da prima di Stellarborea, e ospita
                in forma materiale i pensieri grezzi che fluttuano nel piano astrale, ed è quindi
                incomprensibile ai più. Ha una sezione di ingresso contenuta e "normale" dove ci sono
                anche libri mondani.
            </p>

            <h3>Il Custode</h3>

            <p>
                Questo particolare plasmoide con aspetto astrale e una testa di pupazzo come volto
                vi può aiutare a raggiungere nuove vette della magia.
            </p>

            <h4>Ricerca arcana</h4>

            <p>Gli incantatori potranno studiare e creare nuove magie con l'aiuto della Biblioteca.</p>

            <p><em>Ancora niente...</em></p>

            <hr>

            <h4>Negozio</h4>

            <p>
                Il Custode vende bacchette o scettri magici e pergamene o simili oggetti per incantesimi.
                Il prezzo è conoscenza e rari libri da fuori (che viene astratto in 🪙mo).
            </p>

            <ShopList shopData={currentMageShop} />
        </TabItem>
        <TabItem title="Forgia Celeste" tabInnerShadow={true}>
            <p><em>
                Una forgia isolata dal resto, costruita su un ramo rialzato, così da guardare il cielo e le stelle.
                Un tiefling orchesco con occhi stellari, e numerose corna da ogni arto, martella incessantemente, per raggiungere il
                suo capolavoro...
            </em></p>

            <hr>

            <h3>Fabbro Celeste Grendhal</h3>

            <h4>Commissione</h4>

            <p>Portate al fabbro materiali rari, e potrebbe creare qualcosa di suo.</p>

            <p>
                Attualmente avete parlato di:
                <ul>
                    <li><em>Portatemi dell'Ondargento, e ci metterò il mio tocco</em></li>
                </ul>
            </p>

            <hr>

            <h4>Vendita</h4>

            Venditore di armi e armature speciali, scarti dei suoi tentativi di raggiungere l'apice.

            <ShopList shopData={currentSmithShop} />
        </TabItem>
        <TabItem title="Campo delle Lancie" tabInnerShadow={true}>
            <p><em>In questo campo ampio e circolare diverse lancie e armi sono piantate nel suolo di pietra e terra bianca, mentre sentite
            riecheggiare i suoni lontani di innumerevole battaglie in tutto il mondo.</em></p>

            <p><em>Un eco trasparente rimane impassibile, arma alla mano ma con i lineamenti comunque indefiniti. Forse
            non avete ancora trovato il giusto maestro...</em></p>
        </TabItem>
        <TabItem title="Messaggeri" tabInnerShadow={true}>
            <h3>Messaggeri</h3>

            <Image src={ImgMessaggeri} alt="spiritelli messaggeri di vari colori e espressioni" width="400" />

            <p><em>
                Questi buffi spiritelli si aggirano per Stellarborea, e portano messaggi da altri tempi e visitatori.
                Chissà dove arriveranno messaggi che gli lasciate...
            </em></p>

            <hr>

            <h4>Messaggi lasciati</h4>

            <p>Nessuno per ora</p>

            <ul>

            </ul>
        </TabItem>
    </Tabs>

</StellarboreaLayout>

