---
import StarBaseLayout from "@/layouts/rpg/StarBaseLayout.astro";
import { PostIndexComponent, type SessionPostInformation } from "@/components/rpg/postIndex/postIndex.component";
import { getCollection } from "astro:content";
import getSessionId from "@/utils/rpg/getSessionId";

const url = Astro.url.pathname;
const title = "Riassunto Sessioni - Stella Nera";
const description = "Riassunto sessioni della campagna La Stella Nera";
const permalink = `${Astro.site.href}${url}`;

const posts = await getCollection('rpg-star-sessions');

const postInformation = posts.map(post => ({
  title: post.data.title,
  id: getSessionId(post.data.title).toString(),
  date: post.data.date,
  levelup: post.data.levelup,
  new: post.data.new,
  recap: post.data.recap,
} as SessionPostInformation));
---

<StarBaseLayout title={title} description={description} permalink={permalink}>
  <h1>Sessioni</h1>

  <p>
    Elenco dei riassunti per le sessioni disponibili, cliccate sui riquadri per
    aprirli completi (con immagini e altro).
  </p>

  <!-- {posts.map(post => <p>{Object.entries(post)}</p>)} -->

  <PostIndexComponent posts={postInformation} baseUrl={url} isSession={true} client:load />
</StarBaseLayout>
