---
import type { MarkdownLayoutProps } from "astro";
import getSessionPlayers from "@/utils/rpg/getSessionPlayers";
import Post from "../Post.astro";
import { getCollection } from "astro:content";
import { type SessionFrontMatter } from "@/model/rpg.model";

export interface Props {
  data: SessionFrontMatter;
  Content: Function;
}

const { Content, data } = Astro.props;
const players = getSessionPlayers(data);
---

<Post title={data.title} date={data.date} readingTime={data.minutesRead}>
  <div class="players" slot="preamble">
    Giocatori:
    {
      players.map((p, i) => (
        <span>
          <span class="char">{p.character}</span>
          <span class="player">{p.player}</span>
          {i < players.length - 1 && ", "}
        </span>
      ))
    }
  </div>

  <Content />
</Post>

<style lang="scss">
  .players {
    font-size: 0.8rem;
    color: var(--text-secondary);

    .player {
      font-size: 0.7rem;
      color: var(--text-tertiary);
      margin-right: 0;

      &::before {
        content: "(";
      }
      &::after {
        content: ")";
      }
    }
  }
</style>
