---
import '@/styles/rpg/shop-cards.scss';
import {api5eUrl, getFluffImage, type Item} from "../../utils/rpg/5e-common";
import {encodeHash} from "../../utils/rpg/5e-urls";

const { shopData } = Astro.props;

interface ShopItem {
    name: string;
    count: number;
    data: Item;
}

const items: ShopItem[] = shopData.data;

const rarityOrder = [
    "artifact",
    "varies",
    "legendary",
    "very rare",
    "rare",
    "uncommon",
    "common",
    "none",
]

const sortedItems = items.sort((a, b) =>
    rarityOrder.indexOf(a.data.rarity.toLowerCase()) - rarityOrder.indexOf(b.data.rarity.toLowerCase())
);

const getUrl = (item: Item) => `${api5eUrl}/items.html#${encodeHash(item)}`;
---

<div class="shop">
    <ul>
        {sortedItems.map((item) => {
            const { data } = item;
            const imageUrl = getFluffImage(data);
            const price = (data.value / 100).toFixed(0);
            const rarity = data.rarity.toLowerCase().replace(" ", "-");
            const id = data.name.replace(/\s+/g, '-').toLowerCase();
            return (
                <li class={`shop-card rarity-${rarity}`} id={id}>
                    <a href={getUrl(data)}>
                        <div class="content">
                            <h4 class="name">{data.name}</h4>
                            <div class="product" style={"background-image: url('" + imageUrl + "')"}>
                            </div>
                            <p class="price">{price} <span class="coin-icon">🪙</span></p>
                        </div>
                    </a>
                </li>
            );
        })}
    </ul>
</div>
