---
import '@/styles/rpg/shop-cards.scss';
import {api5eUrl, type Fluff, getFluffImage} from "../../utils/rpg/5e-common";
import {encodeHash} from "../../utils/rpg/5e-urls";

export interface Props {
    shopData: {
        data: any;
    };
}

const { shopData } = Astro.props;

interface ShopItem {
    name: string;
    source: string;
    count: number;
    value: number;
    rarity: string;
    fluff: Fluff;
}

const items: ShopItem[] = shopData.data;

const rarityOrder = [
    "artifact",
    "varies",
    "legendary",
    "very rare",
    "rare",
    "uncommon",
    "common",
    "none",
]

const sortedItems = items.sort((a, b) =>
    rarityOrder.indexOf(a.rarity.toLowerCase()) - rarityOrder.indexOf(b.rarity.toLowerCase())
);

const getUrl = (item: ShopItem) => `${api5eUrl}/items.html#${encodeHash(item)}`;
---

<div class="shop">
    <ul>
        {sortedItems.map((item) => {
            const imageUrl = getFluffImage(item);
            const price = (item.value / 100).toFixed(0);
            const rarity = item.rarity.toLowerCase().replace(" ", "-");
            const id = item.name.replace(/\s+/g, '-').toLowerCase();
            const name = item.name + (item.count > 1 ? ` (x${item.count})` : '')
            return (
                <li class={`shop-card rarity-${rarity}`} id={id}>
                    <a href={getUrl(item)}>
                        <div class="content">
                            <h4 class="name">{name}</h4>
                            <div class="product" style={"background-image: url('" + imageUrl + "')"}>
                            </div>
                            <p class="price">{price} <span class="coin-icon">🪙</span></p>
                        </div>
                    </a>
                </li>
            );
        })}
    </ul>
</div>
