---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
export interface Props {
  title: string;
  description: string;
  permalink?: string;
  current?: string;
  backgroundImage?: string;
}
let { title, description, permalink, current, backgroundImage } = Astro.props;

if (!permalink) {
  permalink = `${Astro.site.href}${Astro.url.pathname}`;
}

---
<html lang="en">
<head>
  <BaseHead title={title} description={description} permalink={permalink} />
  <style define:vars={{ bgImg: `url('${backgroundImage}')` }}>
  </style>
</head>
<body>
  <div class="layout">
    <Header current={current} />

    <main>
      <slot />
    </main>

    <Footer />
  </div>
  <div class="background-container"></div>
</body>
</html>

<style>
  .layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: var(--page-width-max);
    margin: 0 auto;
  }

  main {
    flex: 1;
    position: relative;
    margin: 0 auto;
    padding: 1em 2em;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
</style>

<script src="../scripts/globalVisuals.js" />
